body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    font-size: 1.1em;
  }
  
body > .content {
    flex: 1;
}

i {
  color: #D16ABF;
}

.button > i {
  color: white;
}

.navbar {

 .navbar-item {
  color: #D16ABF;
 }

 .icon {
   padding: 0em 1em;
 }

}

.speaker-grid {
  .column {
    padding: 1.6em;
  }
}

.session-info-tile {

  color: black; 

  .session-image {
    width: 100%;
  }

  .session-title {
    font-size: 1.4em;
  }

  .session-speaker {
    font-size: 1.2em;
    color: darkgray;
  }
}

.session-info-tile:hover {

  a {
  color: #D16ABF; 
  }

  .session-speaker {
    color: #D16ABF;
  }
}

.centered-headline {
  text-align: center;
}

.table {

  .timetable-entry {

    color: black;

    .timetable-entry-session {
      font-weight: bold;
    }

    .timetable-entry-speaker {
      color: darkgray;
    }
  }

  .timetable-entry:hover {

    color: #D16ABF;

    .timetable-entry-speaker {
      color: #D16ABF;
    }
  }

}

.conference-stats {
  padding: 2em 0em;
}

.image-max-height {
  max-height: 24em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.session-details {

  .session-title {
    margin-bottom: 0.2em;
  }

  .speaker-name {
    font-weight: bold;
    margin-bottom: 1em;
  }
}

.youtube-container {
  position: relative;
  padding-bottom: 56.25%; //16:9 ratio
  padding-top: 0;
  height: 0;
  overflow: hidden;

  .youtube-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

.footer {
  background-color: #D16ABF;
  padding: 0em;
}

.footer-text {
  a {
    color: white;
  }
  a:hover {
	text-decoration: underline;
  }
}

.jug-logo {
  height: 200px;
}

.logo-small {
  width: 10em;
}

.button {
  background-color: #D16ABF;
  color: white;
}
