{%- assign eventId = include.eventId -%}
{%- assign limit = include.limit -%}

Ihr müsst Euch für das Event anmelden, da wir nur begrenzte Plätze für das Remote-Konferenz-Tooling zur Verfügung haben. Wenn Ihr bereits angemeldet seid, aber doch nicht kommen könnt, dann bitte wieder abmelden. Dann können andere von der Warteliste nachrücken. 

Wir nutzen den Registrierungsdienst der Java User Group Darmstadt. Bitte wundert Euch also nicht über die entsprechenden Hinweise in den Bestätigungs-E-Mails.

<iframe src="https://registration.jug-da.de/registration?eventId={{ eventId }}&limit={{ limit }}&showPub=false" frameborder="0" width="100%" height="700" marginheight="0" marginwidth="0"></iframe>
