{% assign time = site.time | date: "%Y-%m-%d" %}
{% if page.date > time and page.hideRegistration == false %}
{%- assign eventId = include.eventId -%}
{%- assign limit = include.limit -%}
<hr />

<h3 id="teilnahme"><i class="fas fa-lg fa-door-open"></i>&nbsp;Teilnahme</h3>

<p>Bitte <strong>meldet Euch für das Event an</strong>, damit wir entsprechend planen können. Wenn Ihr bereits angemeldet seid, aber doch nicht kommen könnt, dann bitte wieder abmelden. Dann können andere von der Warteliste nachrücken.</p>

<iframe src="https://registration.ijug.eu/registration?eventId={{ page.date | date: "%Y-%m-%d" }}&limit={{ page.limit }}&showPub=false&hideVideoRecording={{ page.hideVideoRecording }}" frameborder="0" width="100%" height="700" marginheight="0" marginwidth="0"></iframe>
{% endif %}
