<div class="level conference-stats">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Days</p>
        <p class="title">1</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Sessions</p>
        <p class="title">18</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Registrations</p>
        <p class="title">> 1900</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Visitors</p>
        <p class="title">900</p>
      </div>
    </div>
  </div>