{%- assign session = site.sessions | where: "session-id", include.session-id | first -%}
{%- assign icon = include.icon | default: "microphone" -%}


{%- if session -%}
	{%- assign moderatorId = session.moderator-id | default: "not-found" -%}
	{%- assign moderator = site.data.orga | where: "id", moderatorId | first -%}

  {%- assign speakerId = session.speaker-id | default: "not-found" -%}
  {%- assign speaker = site.data.speakers | where: "id", speakerId | first -%}

    <a href="{{ session.url }}" class="timetable-entry"><i class="fas fa-{{ icon }}"></i> <span class="timetable-entry-session">{%- if session.shortTitle -%}{{ session.shortTitle }}{%- else -%}{{ session.title }}{%- endif -%}</span>
    {%- if speaker -%}
        <br/><span class="timetable-entry-speaker">{%- include elements/speaker.html speaker=speaker -%}</span>
    {%- endif -%}
    {%- if moderator -%}
        <br/><span class="timetable-entry-speaker">Moderation:&nbsp;{%- include elements/speaker.html speaker=moderator -%}</span>
    {%- endif -%}
    </a>
{%- else -%}
	<a href="{{ session.url }}" class="timetable-entry"><span class="timetable-entry-session">-</span><br/><span class="timetable-entry-speaker"></span></a>
{%- endif -%}


