<hr />

<h3 id="-diese-initiative-wird-unterstützt-von"><i class="fas fa-lg fa-heart"></i> Diese Initiative wird unterstützt von:</h3>

<p>
    {% for jug in site.data.jugs %}
    <a href="{{ jug[1].url }} "><img src="/assets/logo/{{ jug[0] }}.png" alt="{{ jug[0] }} " class="jug-logo" /></a>
    {% assign modulo4 = forloop.index | modulo: 4 %}
    {% if modulo4 == 0 %}<br/>{% endif %}
    {% endfor %}    
</p>

<p>Eure JUG fehlt hier und ihr möchtet die Veranstaltung unterstützen? Dann meldet Euch …</p>
