<hr />

<h3 id="-diese-initiative-wird-unterstützt-von"><i class="fas fa-lg fa-heart"></i> Diese Initiative wird unterstützt von:</h3>

<p>
    <a href="https://www.ijug.eu/"><img src="/assets/logo/ijug.png" alt="ijug" class="jug-logo" /></a>
    <a href="https://www.jugs.org/"><img src="/assets/logo/jugs.png" alt="jugs" class="jug-logo" /></a>
    <a href="https://www.jug-ostfalen.de/"><img src="/assets/logo/jugostfalen.png" alt="jugostfalen" class="jug-logo" /></a>
    <a href="https://www.cyberjug.de"><img src="/assets/logo/cyberjug.png" alt="cyberjug" class="jug-logo" /></a>
    <br />
    <a href="http://www.jug-kl.de/"><img src="/assets/logo/jugkl.png" alt="jugkl" class="jug-logo" /></a>
    <a href="https://www.meetup.com/JUG-Dortmund/"><img src="/assets/logo/jugdo.png" alt="jugdo" class="jug-logo" /></a>
    <a href="https://www.jug-da.de/"><img src="/assets/logo/jugda.png" alt="jugda" class="jug-logo" /></a>
    <a href="https://www.jug.ch"><img src="/assets/logo/jugch.png" alt="jugch" class="jug-logo" /></a>
</p>

<p>Eure JUG fehlt hier und ihr möchtet die Veranstaltung unterstützen? Dann meldet Euch …</p>
