---
layout: default
---
<div class="section">
  <div class="container session-details">
      <h1 class="session-title">{{ page.title }}</h1>
      {% if page.speaker-id %}
      {% assign speaker = site.data.speakers | where: "id", page.speaker-id | first %}
      {% endif %}
      {% if speaker %}
        <div class="speaker-name">{%- include elements/speaker.html speaker=speaker twitter=speaker.twitter -%}</div>
      {% endif %}
      {% if page.abstract %}
        <p>{{ page.abstract | newline_to_br | lstrip | markdownify }}</p>
      {% else %}
        <p>{{ content }}</p>
      {% endif %}
      {% if page.slidesLink or page.slides %}
        <p>Die Folien des Vortrags können <a href="{% if page.slidesLink %}{{ page.slidesLink }}{% else %}/assets/slides/{{ page.slides }}{% endif %}" target="_blank">hier</a> heruntergeladen werden.</p>
      {% endif %}
      {% if page.youtubeId %}
        {%- include elements/youtube.html id=page.youtubeId -%}
      {% endif %}
      {% if speaker.bio %}
        <div class="speaker-name">{{ speaker.bio }}</div>
      {% endif %}

      {% if page.meetupId %}
        {% for meetupPage in site.pages %}
            {% if meetupPage.meetupId == page.meetupId %}
              <a href="{{ meetupPage.url | relative_url }}">Zurück zur "{{meetupPage.title}}"</a>
            {% endif %}
        {% endfor %}
      {% endif %}

  </div>
</div>
