---
layout: default
---
<div class="section">
  <div class="container session-details">
      <h1 class="session-title">{{ page.title }}</h1>
      {% assign speaker = site.data.speakers | where: "id", page.speaker-id | first %}
      {% if speaker %}
        <div class="speaker-name">{{ speaker.firstName }} {{ speaker.lastName }}</div>
      {% else %}
            ERROR - speaker data not found!
        {% endif %}
      <p>{{ page.abstract }}</p>
      {% if page.slidesLink or page.slides %}
        <p>Die Folien des Vortrags können <a href="{% if page.slidesLink %}{{ page.slidesLink }}{% else %}/assets/slides/{{ page.slides }}{% endif %}" target="_blank">hier</a> heruntergeladen werden.</p>
      {% endif %}
      {% if page.youtubeId %}
        {%- include elements/youtube.html id=page.youtubeId -%}
      {% endif %}
      
  </div>
</div>
  