---
layout: default
---
<div class="section">
    <div class="container session-details">
        <h1 class="room-title">{{ page.room }}</h1>
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ page.youtubeId }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div>
            <p class="room-questions-title">Stelle Deine Fragen zum Vortrag im Youtube-Chat (Direkter Link zum <a href=" https://youtu.be/{{ page.youtubeId }}">Youtube-Stream</a>)</p>
        </div>
        <div class="container">
            <iframe width="1280" height="720" src="https://www.youtube.com/live_chat?is_popout=1&v={{ page.youtubeId }}&embed_domain=cyberland.ijug.eu" frameborder="0"></iframe>
        </div>
    </div>
</div>
