---
layout: default
---
<div class="section">
    <div class="container session-details">
        <h1 class="room-title">{{ page.room }}</h1>
        <div id="player"></div>
        <div>
            <p class="room-questions-title">Stelle Deine Fragen zum Vortrag hier &#128071</p>
            <iframe src="https://ahaslides.com/{{ page.ahaslides-code }}" style="width: 1280px; height: 1000px;" frameborder="0" scrolling="auto" seamless="seamless"></iframe>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@clappr/player@latest/dist/clappr.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/clappr/clappr-level-selector-plugin@latest/dist/level-selector.min.js"></script> 
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clappr-responsive-container-plugin@1.0.0/dist/clappr-responsive-container-plugin.min.js"></script>

<script>
var playerElement = document.getElementById("player");

var player = new Clappr.Player({
source: 'https://d35exmsz2iuczi.cloudfront.net/stream{{ page.number }}/index.m3u8',
poster: '/assets/logo/cyberland-Ladies-Night.jpg',
mute: false,
height: 720,
width: 1280,
plugins: {
  core: [LevelSelector]
}, 
levelSelectorConfig: {
  onLevelsAvailable: function(levels) {
    return levels.reverse(); // For example, reverse levels order
  }
}
});

player.attachTo(playerElement);

</script>